.header2 {
  width: 100%;
  height: 4%;
  margin: 1px 0 1px;
  padding: 15px 20px 15px 102px;
  background-color: #ce0505;
  cursor: pointer;
}
.signup1 {
  display: block;
  margin-top: 20px;
}
.signupbtn {
  margin-top: 38px;
  margin-left: 134px;
  font-size: larger;
  font-weight: 700;
  background-color: #5cc30e;
  color: white;
  border: 2px solid;
  box-shadow: grey 4px 4px;
}
.loginhead {
  margin: auto;
  color: gold;
  margin-left: 136px;
}
.login {
  width: 43px;
  height: 23px;
  margin: 12px 26px 11px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.logincred {
  margin-left: 27%;
}
.loggedInUserName {
  color: white;
  float: right;
  width: 62px;
  height: 23px;
  font-size: 16px;
}
.create-an-account {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  line-height: 1.56;
  width: 152px;
  height: 23px;
}
.loginsignup {
  cursor: pointer;
  color: blue;
}

.e {
  width: 32px;
  height: 47px;
  color: #eb2929;
  text-align: left;
  font-family: Poppins;
  font-size: 33px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  margin-right: 100px;
}
.Ellipse-2 {
  width: 62px;
  height: 62px;

  margin: 0 825px 0 0;
  /* margin: 0 861px 0 0; */
  padding: 1px 10px 4px;
  background-color: #ffffff;
  border-radius: 48%;
}
.ancher {
  text-decoration: none;
}

.Rectangle-17 {
  width: 181px;
  height: 46px;
  margin: 0 0 0 26px;
  padding: 12px 14px 11px 15px;
  border-radius: 3px;
  border: solid 1px #ffffff;
}
